.heades{
  width:1200px;
  height:40px;
  background-color:bisque;
  position: relative;

}
.heading{
  font-family:cursive ;
  font-size:30px;
}
.heades .nav{
  font-size: 22px;
  font-family:serif bold;
  color: black;
  margin-left: 300px;
  word-spacing: 20px;
  font-weight:20pt;
}
.heades .nav a{
  color:black;
}
.icons{
  float: right;
  margin-top: 10px;
  word-spacing: 20px;

}
.icons .material-symbols-outlined{
  border: 1rem;
}
#home{
	height:525px;
	background-color: lavenderblush;
	
}


.heads{
	margin-top: 100px;
	margin-right: 20px;
}
.car{

	margin-left: 50px;
	border-radius: 20px;
	width:600px;
	margin-bottom: 150px;
}

.second{
	margin-left: 200px;
}




.firstimg{
	margin-left: 70px;
	width:450px;
	height: 500px;
	margin-top: 25px;
}
.heads{
	width:400px;
	height:70px;
	background-color:black;
	color:white;
	border-radius: 1rem;
	text-align: center;
	font-family: cursive;
	font-size: 50px;
	margin-left: 50px;
}
.side{
	line-height: 20px;
	margin-left: 300px;
	color:#violet;
	font-size: 25px;


}
#shop{
	margin-top: 200px;
	background-color:white;
}
.photo{
	width:300px;
	height: 300px;
}
#shop .box{
	flex:1 1 30rem;
	border-radius: .5rem;
	border: .1rem solid rgba(0, 0, 0, .1);
	position:relatve;
}
#shop .box .imagesu{
	position:relative;
	text-align: center;
	padding-top: 2rem;
	overflow: hidden;
}
.photo:hover{
	transform: scale(1.1);

}
.box .imagesu .icons{
	position:absolute;
	bottom: -7rem;left:0;right:0;
	display:flex;



}
.box:hover .imagesu .icons{
	bottom: 0;

}


.box .imagesu .icons a{
	height:5rem;
	line-height: 5rem;
	font-size: 2rem;
	width:300px;
	height:80px;
	
	background-color: black;
	color:white;

}

.box .imagesu .icons a:hover{
	background-color: #333;

}


.content{
	height:100px;
}
.main{
	font-size: 30px;
	font-weight: 200pt;
	text-indent: 30px;
	margin-left: 200px;
	background-color: white;
	border-radius: 1rem;
	text-align: center;
	color:black;

}
.hi{
	font-size: 40px;
	margin-left: 20px;
	background-color: white;
	border-radius: 1rem;
	text-align: center;
	margin-top: 20px;
	color:black;
	



}
#service{
	height:500px;
	width:500px;
	
}
.matter{
	height:250px;
	width:350px;
	margin-left: 40px;
	background-color: pink;
	margin-bottom: 300px;
	margin-top: 150px;
}
.cards2{

	height:300px;
	width:350px;
	position:relative;
	text-align: center;
	background-color:black;
	border-radius: 1rem;
	margin-left: 30px;
	
    

}
.cards2 i{
	width: 2.5rem;
	height:2.5rem;
	font-size: 5rem;
	line-height: 6rem;
	color:white;


}
.que{
	font-size: 25px;
	font-weight: 100px;
	font-family: bold;
	color:black;
	background-color: white;
	border-radius: 1rem;
}
.ans{
	color:white;
	font-weight: 50px;
	font-family: bold;
	font-size: 20px;
	text-align: center;

}
.card1{
	margin-top: 150px;
	margin-left: 100px;
}
#contact{
	height:800px;
	margin-top:100px ;
}
.card{
	width:450px;
	height:500px;
	background-color:#fddfed;
	border-radius: 1rem;
	margin-left: 350px;


}

.row{
	width:400px;
	
	background-color:black;
	border-radius: 1rem;
	margin-left: 350px;

}
.oo{
	border-radius: .1rem;
	border-color: white;
	margin-left: 15px;
	align-content: center;
	width:300px;
	height: 20px;
	margin-top: 50px;
}
.btn{
	width:100px;
	height:30px;
	color:black;
	background-color: pink;
	border-radius: 2rem;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 140px;
}
.lastimg img{
	width:450px;
	height: 550px;
}
